body{
    background-color:lavender;
    font-family: cursive;
    font-size: 100%;
}
h1{
    text-align: center;
    font-weight: solid;
    font-size: 250%;
}
h1+p{
    text-align: center;
}
strong{
    font-size: larger;
}
.sprint{
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.sprint:hover{
    background:#e7f3e7;
    transition: .2s;
}
.sprint p:first-child{
    width: 100%;
}
.sprint > p{
    font-size: 20px;
}
.sprint__card{
    width: 300px;
    text-align: center;
    height: 150px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-right: 40px;
    box-shadow: -1px 5px 8px 9px rgba(34, 60, 80, 0.53);
}
}
.sprint__card p:first-child{
    border-bottom: 1px solid rgb(177, 174, 174);
    padding-top: 2px;
    padding-bottom: 35px;
}
.card__link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.card__link a{
    margin-right: 110px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    padding: 6px 20px;
    border: 2px solid rgb(86, 196, 185);
    border-radius: 5px;
}
.card__link p{
    color: gray;
}